# Amplitude Analytics
# Get your API key from: https://analytics.amplitude.com/
# Settings > Projects > [Your Project] > General > API Key
VITE_AMPLITUDE_API_KEY=83ec01506d5eaa259e79eb97d7cb18b

VITE_UPSTASH_REDIS_REST_URL="https://saving-crappie-137218.upstash.io"
VITE_UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAhgCAAIgcDE1Zjg5OTRhNjA3ZmQ0MTIwYjIyZWRiYjAyMGM1ZjZkMw"